:root {
    --primary-color: #3C83F6;
    --error-color: #EC1313;
    --text-main: #111418;
    --text-secondary: #94A3B8;
    --text-white: #FFFFFF;
    --bg-white: #FFFFFF;
    --bg-body: #F8FAFC;
    --border-color: #E2E8F0;
    --border-input: #DBDFE6;
}
