.btn {
    display: inline-block;
    min-width: 250px;
    height: var(--height);
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    background: var(--primary-color);
}

    .btn:hover {
        opacity: 0.9;
        cursor: pointer;
    }
