.main__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.main__mark-read {
    padding: 10px 16px;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    background-color: #D8E6FD;
    border: 1px solid #DEE2E6;
    border-radius: 8px;
    cursor: pointer;
}


.main__mark-read:hover {
    opacity: 0.8;
}


/* Notifications List */
.notifications {
    margin: 42px 0 90px;
    border-radius: 8px;
    overflow: hidden;
}

.notification {
    position: relative;
    display: flex;
    gap: 1rem;
    padding: 16px;
    margin-bottom: 10px;
    border: 1px solid #DEE2E6;
    border-radius: 8px;
    transition: background-color 0.2s;
    cursor: pointer;
    opacity: 0.7;
}

    .notification:hover {
        background-color: #F8F9FA;
    }

.notification__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 90, 156, 0.102);
    border-radius: 8px;
}

    .notification__icon svg {
        color: #212529;
    }

.notification__content {
    flex: 1;
    min-width: 0;
}

.notification__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
    gap: 16px;
}

.notification__title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #212529;
}

.notification__time {
    font-size: 1.2rem;
    font-weight: 400;
    color: #6C757D;
    white-space: nowrap;
    flex-shrink: 0;
}

.notification__text {
    font-size: 1.4rem;
    font-weight: 400;
    color: #6C757D;
}

.notification--unread {
    border-left: 4px solid var(--primary-color);
    opacity: 1;
}

    .notification--unread .notification__icon {
        background-color: #DEE2E6;
    }

/* Responsive */
@media (max-width: 768px) {
    .main__header {
        flex-direction: column;
        align-items: stretch;
        margin-top: 28px;
    }

    .main__mark-read {
        width: 100%;
    }

    .notification {
        padding: 16px 8px;
    }

    .notification__header {
        flex-direction: column;
        gap: 0.25rem;
    }

    .notification__time {
        align-self: flex-start;
    }
}
