* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-box {
    background: var(--bg-white);
    padding: 40px;
    width: 100%;
    border: solid 1px var(--border-color);
    border-radius: 10px;
    width: 553px;
    text-align: center;
}

    .reset-box .title {
        margin-bottom: 24px;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.25;
    }

    .reset-box .desc {
        margin-bottom: 33px;
        font-weight: 400;
        color: var(--text-secondary);
    }

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

    .form-group label {
        display: block;
        font-weight: 500;
        color: var(--text-main);
        margin-bottom: 8px;
    }

.password-wrapper {
    position: relative;
}

.password-input {
    transition: border 0.2s;
}


.toggle-password {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.6;
}

    .toggle-password:hover {
        opacity: 1;
    }


.strength-text {
    margin: 20px 0 8px;
    text-align: left;
}

/* Thanh độ mạnh mật khẩu */
.strength-meter {
    height: 10px;
    background: var(--border-color);
    border-radius: 9999px;
    overflow: hidden;
}

.strength-bar {
    height: 100%;
    width: 0%;
    border-radius: 9999px;
    transition: all 0.4s;
}


/* Danh sách yêu cầu mật khẩu */
.password-requirements {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
}

.password-requirements--item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.password-requirements--gr {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.btn-reset {
    width: 100%;
    padding: 20px 13px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
}

    .btn-reset:hover {
        opacity: 0.9;
    }


.msg {
    margin: 8px 0;
    font-size: 1.4rem;
    font-weight: 500;
}

.success-label {
    color: var(--text-success);
}

.error-label {
    color: var(--text-error);
}

/* Mobile & Tablet */
@media (max-width: 768px) {
    body {
        background: var(--bg-white);
        align-items: flex-start;
        padding-top: 66px;
    }

    .reset-box {
        padding: 40px 20px;
        width: 375px;
        max-width: 100vw;
        margin: 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
}